#carousel-container {
    width: 20%;
    margin: auto;
    overflow: hidden;
  }
  h2{
    text-align: center;
    block-size: 50px;
    color: rgb(87, 82, 82);
  }

  #image-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-image {
    width: 100%;
    height: auto;
   
  }

  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }

  #prev-button {
    left: 10px;
  }

  #next-button {
    right: 10px;
  }